//https://convertingcolors.com/hsl-color-48_100_60.html?search=HSL(48%C2%B0,%20100%,%2060%)
// $color-primary: hsl(210, 100%, 15%);
$color-primary: #003156;
$color-secondary: hsl(228, 100%, 60%);
$color-red: #ff273c;
$color-white: white;
$color-black: black;
